@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add your custom styles here */

.button {
  background-color: #3f99ff; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button:hover {
  background-color: #246ddd; /* Green */
  color: white;
  cursor: pointer;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cell {
  border: 1px solid #1f2428;
  padding: 5px;
  width: 5px;
  height: 5px;
}

.cell--active {
  background-color: #24b058;
}

.cell--boundary {
  background-color: #1f2428;
}

.cell--food {
  background-color: #f95c4f;
  z-index: 10;
}

.cell--body {
  background-color: #29792c;
}

.cell--other--player {
  background-color: #f19f4e;
}

.btn {
  background-color: #1f2428;
  border: none;
  color: #d5d9b8;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.score {
  font-size: 20px;
  color: #d5d9b8;
}

.game-over-ctn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 100px);
  width: 200px;
  height: 100px;
  border: 1px solid black;
  background-color: #24292e;
}

.game-over {
  font-size: 20px;
  color: #f95c4f;
}

.app-ctn {
  background-color: #24292e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

:root {
  --main-bg-color: #24292e;
}

body {
  background-color: var(--main-bg-color);
}
